@function lighten-color($color,$amount){
    @return lighten($color,$amount);
}
$base-color:red;
.bright-text{
    color:lighten-color($base-color,30% );
}
.dark-text{
    color:lighten-color($base-color,2% )
}